@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Outfit", sans-serif;
    background-color: #f3faf8bb;
}

::selection {
    color: blueviolet;
}

.border-noneImp{
    border: none !important;
}

.smooth_rendering{
    overflow-clip-margin: unset;
    image-rendering:optimizeSpeed;
    image-rendering:optimizeQuality;
} 

.decorUnderline{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid red;
}

.animated-background {
    background-size: 400%;

    -webkit-animation: animation 5s ease-in-out infinite;
    -moz-animation: animation 5s ease-in-out infinite;
    animation: animation 5s ease-in-out infinite;
}

@keyframes animation {
    0%,
    100%{background-position:100% 50%}
    50%{background-position:0% 50%}
}
